body {
    max-width: max-content;
    margin:0 auto;
    padding: 0;
    min-height: 100%;
    background: #292929;
}

.board {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
}

.grid1 {
    transition: all 1s ease;
    padding: 30px;
}

.grid2 {
    position: relative;
    padding: 30px;
}

.card {
    display: relative;
    max-width: 100%;
    margin-top: 30px;
    padding: 30px;
    background: rgb(240, 240, 240);
    border-radius: 100px;
    box-shadow: 0px 0px 20px 0px #ffbe0b;
    
}

.select {
    text-align: center;
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
    transition: all 3s ease;
}

.select:hover {
    background: #ffbe0b;
    color: #292929;
    cursor: pointer;
}

.gameName {
    font-size: 40px;
    font-weight: bold;
    margin-top: 30px;
    justify-content: space-between;

}

.answer {
    min-width: 100%;
    border: none;
    border-radius: 10px;
    padding: 8px;
    resize: none;
}

.table {
    text-align: center;
    margin-top: 30px;
    padding-left: 20px;
    min-width: 100%;
    background: rgb(240, 240, 240);
    border-radius: 20px;
    box-shadow: 0px 0px 20px 0px #ffbe0b;
}

.tableRow {
    display: flex;
}

.group {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.question {
    margin-right: 20px;
    text-align: center;
    font-weight: bold;
    border: 1px solid black;
    padding: 5px 15px;
    border-radius: 10px;
    border-left: 5px solid #ffbe0b;
}

.inputText {
    margin-left: 3px;
    font-weight: bold;
    margin-right: 10px;
}
/* 
.e {
    color: rgb(0, 161, 0);
}

.d {
    color: rgb(0, 100, 0);
}

.c {
    color: rgb(255, 179, 16);
}

.b {
    color: rgb(248, 99, 0);
}

.a {
    color: rgb(182, 12, 0);
} */

.submit {
    position: sticky;
    left: 30px;
    bottom: 30px;
    height: 50px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    text-align: center;
    background-color: rgb(0, 82, 4);
    border-radius: 100vw;
    cursor: pointer;
}

.submit:hover {
    background-color: rgb(0, 110, 6);
}

.loader {
    margin-top: 20%;
    margin-left: 50%;
    display: none;
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid #ffbe0b;
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}
